// отключаю так как оно есть в бутстрапе
// * {
//   box-sizing: border-box;
// }

body {
  margin: 0;
  font-family: Onest;
  font-weight: 400;
  min-height: 100vh;
  // overflow: hidden;

  background: linear-gradient(180deg, rgba(200, 224, 149, 0.8) -5.17%, rgba(221, 238, 239, 0.8) 47.96%, rgba(255, 255, 255, 0.8) 100%);
}
