.nav {
  justify-content: space-between;
  margin-bottom: 12px;
  //   gap: 28px;

  //   @include onTablet {
  //     gap: 72px;
  //   }

  //   @include onDesktop {
  //     gap: 40px;
  //   }

  &-tabs {
    border-bottom: 1px solid rgba(0, 40, 79, 0.3);
    --#{$prefix}nav-tabs-link-active-border-color: #00284f;
    .nav-link.active,
    .nav-item.show .nav-link {
      //   font-weight: 700;
      //   font-size: 17px;
      //   line-height: 22px;

      text-transform: uppercase;

      color: #00284f;

      background-color: transparent;

      opacity: 1;

      border-bottom-width: 2px;
      border-style: solid;
      border-color: transparent;
    }

    .nav-link {
      padding: 8px 0;
      border: none;
      outline: none;
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-top: 0;
      border-left: 0px;
      border-right: 0px;
      border-color: var(--#{$prefix}nav-tabs-link-active-border-color);
    }
  }

  &-link {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;

    color: #00284f;
    text-transform: uppercase;

    opacity: 0.4;

    @include onTablet {
      font-size: 17px;
      line-height: 22px;
    }
  }

  &-item {
    outline: none;
  }
}
