.counter {
  display: none;

  @include onTablet {
    display: flex;
    align-items: center;

    height: 46px;
  }

  &__btn {
    display: flex;
    // align-items: center;
    justify-content: center;

    width: 46px;
    // height: 46px;

    background-color: transparent;
    border: none;
    outline: none;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    /* фикс высоту с шириной потом падингами поправь */
    height: 46px;
    width: 46px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.25;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;

    color: #00284f;

    // test
    text-align: center;
    border: none;
    outline: none;
  }
}

// input[type='number']::-webkit-outer-spin-button,
// input[type='number']::-webkit-inner-spin-button {
//   -webkit-appearance: none;
// }

// input[type='number'],
// input[type='number']:hover,
// input[type='number']:focus {
//   appearance: none;
//   -moz-appearance: textfield;
// }
