.header {
  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 46px;
  }

  &__icon {
    width: 21px;
    height: 21px;

    @include onTablet {
      width: 24px;
      height: 24px;
    }
  }

  &__burger-menu {
    margin-right: 12px;

    @include onTablet {
      margin-right: 33px;
    }

    @include onDesktop {
      margin-right: 40px;
    }
  }

  &__cart {
    position: relative;
    display: inline-block;
    margin-left: 12px;

    @include onTablet {
      margin-left: 33px;
    }

    @include onDesktop {
      margin-left: 40px;
    }
  }

  &__bottom {
    display: none;

    @include onTablet {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 55px;

      margin-bottom: 64px;
    }

    @include onDesktop {
      gap: 40px;
    }
  }

  &__link {
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;

    color: #1d1d1b;
    text-decoration: none;
  }
}
